# disable directory listing
Options -Indexes

# enable rewrite
RewriteEngine On

# block r_private folder
RewriteRule ^r_private/ - [F,L]

# block img folder
RewriteRule ^img/ - [F,L]

# block specific file
<Files "r_header.html">
    Require all denied
</Files>
